<?xml version="1.0"?>
<configuration>

  <connectionStrings>


  </connectionStrings>

  <appSettings>
    
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    
    <!--
    Add API keys here. The key is the GUID and the value is either:
        1. An asterix that denotes all access.
        2. A case insensitive comma separated list of methods the key is allowed to access.
        3. A case insensitive comma separated list of http methods the key is allowed to use.
           Valid entries are get, put, post, delete.
        4. A combination of 2 and 3, whichever matches first.
    Items are matched in the following order, first match returns true:
        1. Asterix (allaccess)
        2. Method name
        3. HttpMethodName
    -->
    
    <!-- Test key: All access -->
    <add key="191d8ed8-c979-4586-8e09-9fa18b5e4c99" value="*"/>
    <!-- Test key: httpMethod limited -->
    <add key="bf0ede69-94ac-471a-ba6c-d9059a33efb0" value="get, put"/>
    <!-- Test key: Method Limited -->
    <add key="a3fff28f-777c-471b-a916-23ae96c3ae21" value="GetUser, GetGroup, GetGroupMembership, CreateUser, Exists, Unlock"/>
    
    <!--
    Protected Active Directory Objects
    
    Objects in this list may not be altered by PUT or DELETE operations.
    -->
    <add key="protected_objects" value="Domain Admins, Enterprise Admins, Schema Admins"/>
    
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel>

    <services>
      <service name ="AdApiService.AdApi">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:21541/" />
          </baseAddresses>
        </host>
        <endpoint address="../AdApi.svc"
                  binding="webHttpBinding"
                  contract="AdApiService.IAdApi"
                  behaviorConfiguration="webBehavior" />
      </service>
    </services>

    <behaviors>

      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>

    </behaviors>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

  </system.serviceModel>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule,
           System.Web.Routing, Version=4.0.0.0,
           Culture=neutral,
           PublicKeyToken=31BF3856AD364E35" />
    </modules>

    <handlers>
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, 
           System.Web, Version=4.0.0.0, Culture=neutral,
           PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>

  </system.webServer>

</configuration>
